* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
}
/* Header */
.Navbar {
  background-color: rgb(22, 7, 36);
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 2.5rem;
}
.Left h1 {
  font-size: 1.5rem;
  cursor: pointer;
}
.Center ul {
  display: flex;
  list-style: none;
}
.Center ul li a {
  padding: 10px 20px;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  text-decoration: none;
  transition: all 1s;
}
.Right a i {
  padding: 10px 0px 0px 20px;
  font-size: 1.7rem;
}
/* Hover */
.Center ul li a:hover {
  background-color: #fff;
  border-radius: 7px;
  color: rgb(22, 7, 36);
}
.Left h1:hover {
  transform: translateY(-3px);
}
.Right a i:hover {
  color: rgb(22, 230, 15);
  transform: translateY(-3px);
}
/* @media screen and (max-width:805px) {
  .list {
      width: 100%;
      height: 100vh;
      background-color: rgb(22, 7, 36);
      text-align: center;
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 4rem;
      left: 100%;
      transition: all 1s;
  }

  #check {
      display: none;
  }

  .checkBtn {
      display: block;
  }

  #check:checked~ul {
      left: 0%;
  }

} */
/* About Section */
#About {
  width: 100vw;
  min-height: 100vh;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerleft {
  margin: 25px;
  padding: 10px;
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}
.containerright {
  position: relative;
  display: flex;
  justify-content: right;
  align-items: center;
  flex-wrap: wrap;
}
.box {
  position: relative;
  width: 30rem;
  height: 30rem;
  margin: 4rem;
}
.containerright .box:hover .imgbox {
  transform: translate(-2.5rem, -3.5rem);
}

.containerright .box:hover .Content {
  transform: translate(2.5rem, 3.5rem);
}
.imgbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}
.imgbox img {
  width: 24rem;
  height: 24rem;
  object-fit: cover;
  resize: both;
}
.Content {
  position: absolute;
  top: 0;
  left: 0;
  width: 24rem;
  height: 24rem;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  background-color: rgb(22, 7, 36);
  z-index: 1;
  align-items: flex-end;
  text-align: center;
  transition: 0.5s ease-in-out;
}

.Content h2 {
  display: block;
  font-size: 1.5rem;
  color: #fff7f7;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 1px;
}

.Content span {
  color: #fffbfb;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 2px;
}
/* Projects Section */
#Projects {
  width: 100vw;
  min-height: 100vh;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contact Section */
/* #Contact {
  width: 100vw;
  min-height: 100vh;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
} */
